{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<section>
    <div>

        <header >
            {{#author}}
            {{!-- Everything inside the #author tags pulls data from the author --}}

            <div >

                {{#if profile_image}}
                <img src="{{profile_image}}" alt="{{name}}" />
                {{else}}
                <span>{{> "icons/avatar"}}</span>
                {{/if}}

                <h1>{{name}}</h1>
                <p>
                    {{#if bio}}
                        {{bio}}
                    {{else}}
                        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} published
                    {{/if}}
                </p>

                <div >
                    {{#if location}}
                    <div >📍 {{location}}</div>
                    {{/if}}
                    {{#if website}}
                    <span><a href="{{website}}" target="_blank" rel="noopener">{{website}}</a></span>
                    {{/if}}
                    {{#if twitter}}
                    <span><a href="{{twitter_url}}" target="_blank" rel="noopener">{{twitter_url}}</a></span>
                    {{/if}}
                    {{#if facebook}}
                    <span><a href="{{facebook_url}}" target="_blank" rel="noopener">{{facebook_url}}</a></span>
                    {{/if}}
                </div>

            </div>

            {{/author}}
        </header>

        <div>
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

    </div>
</section>
